<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959271992899-u73p6cqvulbi1euo89b07bmp73k0vh25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959271992899-u73p6cqvulbi1euo89b07bmp73k0vh25</string>
	<key>API_KEY</key>
	<string>AIzaSyAzXNVb9iebu9Ps_pHnOhd27wKzRtLixBE</string>
	<key>GCM_SENDER_ID</key>
	<string>959271992899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inmanueld.chorus</string>
	<key>PROJECT_ID</key>
	<string>choir-c92dd</string>
	<key>STORAGE_BUCKET</key>
	<string>choir-c92dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959271992899:ios:c401e6cd6a7c88e05fdef6</string>
	<key>DATABASE_URL</key>
	<string>https://choir-c92dd.firebaseio.com</string>
</dict>
</plist>